@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.ptb {
    padding: 70px 0px;
}

$Clr-light: #fff;
$Clr-dark: #000;
$txt-clr-light: #898989;
$txt-clr-light: #898989;
$txt-clr-dark: #fff;
$button-bg-light:rgba(0,
0,
0,
0.3098039216);
$section-bg :#F5FBFF;
.navbar-nav a {
    color: $Clr-light;
    font-size: 18px;
}

p {
    font-size: 18px;
    color: $txt-clr-light;
}


.navbar-brand {
    color: $Clr-light;
    font-size: 26px;
}
.navbar-brand:hover{
    color: $txt-clr-light;
}
.hero-container {
    width: 100%;
    max-width: 900px;
    padding: 17% 0%;
    h1 {
        font-size: 44px;
        color: $Clr-light;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        color: $Clr-light;
        margin-bottom: 20px;
    }
}
.nav-link:hover{
color: #ddd;
}
.nav-link{
margin: 0px 5px;
}
.explore-more a {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 18px;
    color: $Clr-light;
    background-color: $Clr-dark;
    padding: 10px 20px;
    text-decoration: none;
}

// header
header {
    position: relative;
    transition: .3s;
    background-size: cover;
    background-blend-mode: overlay;
    .slider-btn {
        background: rgba(0, 0, 0, 0.3098039216);
        outline: none;
        font-size: 17px;
        padding: 14px 18px;
        border: 1px solid rgba(255, 255, 255, 0.2705882353);
        color: #fff;
        border-radius: 42px;
        line-height: 1;
        position: absolute;
        top: 50%;
    }
    button.prev-button {
        left: 0px;
    }
    button.next-button {
        right: 0px;
    }
}

span.navbar-toggler-icon i {
    color: $Clr-light;
}
.slider  .navbar-toggler:focus {
    box-shadow: none !important;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 15px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
    }
    img.four-grid-cells {
        grid-row: span 2 / auto;
        grid-column: span 2 / auto;
    }
    img.wide-image {
        grid-column: span 2 / auto;
    }
    img:hover {
        opacity: .8;
    }
}

.section-heading {
    margin-bottom: 40px;
    h4 {
        font-size: 38px;
        font-weight: 300;
        color: $Clr-dark;
    }
}

.section-bg {
    background-color: $section-bg;
}

// .testimonial-box
.testimonial-slider {
    display: flex;
    overflow: hidden;
    .testimonial {
        flex: 0 0 100%;
        transition: transform 0.3s ease;
        box-sizing: border-box;
        display: none;
        background: #dddddd57;
        border-radius: 20px;
        padding: 25px;
    }
    .active {
        display: block;
    }
    .testmonail-cont img {
        object-fit: cover;
        width: 100%;
        max-width: as;
        border-radius: 50%;
        aspect-ratio: 2/2;
        max-width: 60px;
        margin-right: 20px;
        border: 1px solid $txt-clr-dark;
    }
    .testmonail-cont {
        display: flex;
        align-items: center;
    }
    h5 {
        font-size: 20px;
        color: $Clr-dark;
    }
}

.testimonal-btn {
    font-size: 20px;
    border: none;
    padding: 4px 11px;
    border-radius: 50px;
    margin: 10px 2px;
}

.side-img {
    border-radius: 15px;
    max-width: 450px;
}
.quoteBox {
    background-color: rgb(0, 204, 255);
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.quoteBox p{
  color:$Clr-light;
  font-size: 20px;
  margin-bottom: 0px;
}
.row-img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: -14px 14px 0px #383838;
}
footer {
    padding: 25px 0px;
    background-color: $Clr-dark;
}
footer p{
    font-size: 18px;
   color: $Clr-light;
   margin-bottom: 0px;
   text-align: center;
}
@media (max-width: 1336px) {
    .hero-container {
        padding: 9% 0%;
    }
    .navbar-brand {
        font-size: 22px;
    }
    .navbar-nav a {
        font-size: 16px;
    }
    .hero-container h1 {
        font-size: 38px;
   
    }
    .hero-container p {
        font-size: 18px;

    }
    .section-heading h4 {
        font-size: 30px;
    }
    .quoteBox p {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    .side-img {
        max-width: 340px;
    }
    .mb-4 {
        margin-bottom: 1rem!important;
    }
    footer {
        padding: 15px 0px;
    }
    footer p {
        font-size: 14px;
       
    }
}

@media (max-width: 1024px) {
    .ptb {
        padding: 50px 0px;
    }
}

@media (max-width: 768px) {
    .row {
        display: block;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        flex: 100%;
        width: 100%;
    }
    .dsplyMbl {
        display: block;
    }
    .dsplydesktop {
        display: none;
    }
    .hero-container h1 {
        font-size: 30px;
    }
    .hero-container {
        padding: 7% 0% ;
    }
    .slider .py-4 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .section-heading h4 {
        font-size: 26px;
    }
    .ptb {
        padding: 35px 0px;
    }
    .gallery img {
       
        border-radius: 15px;
    }
    .testimonial-slider h5 {
        font-size: 18px;
    }
    .side-img {
        margin-bottom: 20px;
    }
    .row-img img {
        margin-bottom: 30px;
    }
    header .slider-btn {
        font-size: 12px;
        padding: 9px 12px;
     
    }
}

@media (max-width: 560px) {
    .hero-container h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .hero-container p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    header .slider-btn {
        top: 80%;
    }
    .btn {
        display: inline-block;
        font-size: .8rem;
    }
    .section-heading {
        margin-bottom: 15px;
    }
    .testimonal-btn {
        font-size: 14px;
        padding: 6px 11px;
    }
    .testimonial-slider .testimonial {
        padding: 18px;
    }
    .quoteBox p {
        font-size: 16px;
    }
    .quoteBox {
        padding: 15px;
    }
    .row-img img {
        box-shadow: -2px 2px 9px #38383826;
        margin-bottom: 18px;
    }
}

@media (max-width: 428px) {
    .container {
        padding: 0px 15px;
    }
    .ptb {
        padding: 25px 0px;
    }
    .section-heading h4 {
        font-size: 22px;
        margin-bottom: 4px;
    }
    p {
        font-size: 14px;
    }
    .quoteBox p {
        font-size: 13px;
    }
   #contact .p-3 {
        padding: .5rem!important;
    }
   #contact
    .form-control {
    
        font-size: .8rem;
    
    }
    .hero-container p {
        font-size: 14px;
    }
    .hero-container h1 {
        font-size: 24px;
    }
    .navbar .container-fluid {
        padding: 0px;
    }
}

@media (max-width: 375px) {
    .navbar-brand {
        font-size: 18px;
    }
    .slider .py-4 {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .hero-container h1 {
        font-size: 22px;
    }
    .section-heading h4 {
        font-size: 20px;
            margin-bottom: .5rem !important;
        
    }
    
    .gallery img {
        border-radius: 8px;
    }
    .gallery {
        gap: 6px;
    }
    .testimonial-slider h5 {
        font-size: 15px;
    }
    footer p {
        font-size: 12px;
    }
    .navbar-nav a {
        font-size: 14px;
    }

}
